<div>@Image.Name</div>

@code {
    [Parameter] public EditableImage Image { get; set; }

    public string HumanizeLastModified()
    {
        var timeAgo = (int)(DateTime.Now - Image.ModifiedAt).TotalDays;
        var unit = "day";

        if (timeAgo == 0)
        {
            timeAgo = (int)(DateTime.Now - Image.ModifiedAt).TotalHours;
            unit = "hour";
        }

        if (timeAgo == 0)
        {
            timeAgo = (int)(DateTime.Now - Image.ModifiedAt).TotalMinutes;
            unit = "minute";
        }

        if (timeAgo == 0)
        {
            timeAgo = (int)(DateTime.Now - Image.ModifiedAt).TotalSeconds;
            unit = "second";
        }

        if (timeAgo == 0)
        {
            throw new Exception("Unable to humanize last-modified date.");
        }

        return $"Updated {timeAgo} {unit}{(timeAgo == 1 ? "" : "s")} ago";
    }
}
