@page "/"
@inject PersistentComponentState PersistentState
@inject HttpClient Http

@if (images == null)
{
    <div class="loading">
        <img src="spinner.gif" alt="Loading indicator" /> Loading
    </div>
}
else
{
    <div class="m-4 my-5 grid md:grid-cols-2 lg:grid-cols-3 gap-4">
        TODO: list the images
    </div>
}

@code {
    private EditableImage[] images;
    PersistingComponentStateSubscription persistingSubscription;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(2000);
        images = await Http.GetFromJsonAsync<EditableImage[]>("api/EditableImage");
    }
}
